<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TinyFileManager.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="TinyFileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="AllowedImageExtensions" value="'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'"/>
    <add key="AllowedFileExtensions" value="'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'"/>
    <add key="AllowedVideoExtensions" value="'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'"/>
    <add key="AllowedMusicExtensions" value="'mp3', 'm4a', 'ac3', 'aiff', 'mid'"/>
    <add key="AllowedMiscExtensions" value=""/>
    <add key="UploadPath" value="resources\files"/>
    <add key="ThumbPath" value="resources\thumbs"/>
    <add key="AllowUploadFile" value="True"/>
    <add key="AllowDeleteFile" value="True"/>
    <add key="AllowCreateFolder" value="True"/>
    <add key="AllowDeleteFolder" value="True"/>
    <add key="MaxUploadSizeMb" value="100"/>
    <add key="RessourcePrefix" value=""/>
    <add key="AllowSearch" value="True"/>
  </appSettings>

  <system.web>
    <compilation targetFramework="4.0" />
    <!--<customErrors mode="Off"/>-->
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
